.m-headline {
    $self: &;

    display: inline-block;
    width: 100%;

    &__title {
        display: inline-block;
        font-size: $fs-large;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
    }

    &__perex {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
    }

    &.-dark {
        #{$self}__title {
            color: $white;
        }

        #{$self}__perex {
            color: $white;
        }
    }

    &.-world {
        #{$self}__title {
            color: $worldTEXT;
        }

        #{$self}__perex {
            color: $worldTEXT;
        }
    }

    &.-world-dark {
        padding-right: 10px;
        padding-left: 10px;

        @media only screen and (min-width: $ti) {
            padding-right: 20px;
            padding-left: 20px;
        }

        #{$self}__title {
            color: $white;
        }

        #{$self}__perex {
            color: $white;
        }
    }

    &.-center {
        text-align: center;
    }
}